<div class="d-flex flex-wrap justify-content-end">
  {{> office/teachers}}
</div>

<section class="mt-5">
  <div class="d-flex flex-wrap justify-content-end mb-2">
    <div class="my-auto" style="max-width: 900px; min-width: 400px;">
      <div class="form-outline input-group-lg">
        <input
          type="text"
          id="search"
          name="search"
          class="form-control"
          oninput="setSearch(this)"
        />
        <label class="form-label" for="search">Search</label>
      </div>
    </div>   
  </div>
  <div class="table-responsive">
    <table class="table table-striped align-middle" id="batches-table">
      <thead class="bg-dark text-white">
        <tr>
          <th scope="col" onclick="setSort('registerId')" style="cursor: pointer;">
            <span>Id</span><img src="/static/icon/arrow-3.svg" alt="sort">
          </th>
          <th scope="col" onclick="setSort('name')" style="cursor: pointer;">
            <span>Name</span><img src="/static/icon/arrow-3.svg" alt="sort">
          </th>
          <th scope="col">Contact</th>
          <th scope="col" onclick="setSort('batch')" style="cursor: pointer;">
            <span>Batch</span><img src="/static/icon/arrow-3.svg" alt="sort">
          </th>
          <th scope="col" onclick="setSort('salary')" style="cursor: pointer;">
            <span>Salary</span><img src="/static/icon/arrow-3.svg" alt="sort">
          </th>
          <th scope="col">Qualification</th>
          <th scope="col" onclick="setSort('experience')" style="cursor: pointer;">
            <span>Experience</span><img src="/static/icon/arrow-3.svg" alt="sort">
          </th>
          <th scope="col">Manage</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {{#each allTeachers}}
          <tr>
            <td scope="row">{{this.registerId}}</td>
            <td >
              <div class="d-flex align-items-center">
                <img
                  src="{{this.profile}}"
                  style="border-radius: 50%; border: 1px solid #3BB77E; padding: 1px"
                  width="40px"
                  height="40px"
                  class="me-2"
                  alt="{{this.name}}"
                />
                <div>
                  <span class="fs-6 text-black fw-normal">{{this.name}}</span><br
                  />
                  <span
                    class="text-muted"
                    style="font-size: 13px;"
                  >{{this.birth_date}}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <a href="tel:{{this.phone}}" class="me-1">
                  <img src="/static/icon/phone.svg" width="34px" alt="call" />
                </a>
                <a href="mailto:{{this.email}}">
                  <img src="/static/icon/mail.svg" width="34px" alt="mail" />
                </a>
              </div>
            </td>
            {{#if this.batch}}
              <td>{{this.batch}}</td>
            {{else}}
              <td> - </td>
            {{/if}}
            <td>{{this.salary}}</td>
            <td>{{this.qualification}}</td>
            <td>{{this.experience}}</td>
            <td>
              <a 
                data-mdb-toggle="modal"
                data-mdb-target="#manageAccount"
                class="btn btn-sm {{#if this.account_status}} btn-danger {{else}} btn-success {{/if}}"
                onclick="manageAccount({{this.account_status}},'{{this.registerId}}', '{{this.name}}', 'teacher')" >
                {{#if this.account_status}} block {{else}} unblock {{/if}}
              </a>
            </td>
            <td>
              <a href="/office/teacher/{{this.registerId}}">
                <img src="/static/icon/export.svg" width="20px" alt="" />
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between align-items-center me-1 mb-2">
    <div>
      <select class="select" onchange="setLimit(this)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50" selected>50</option>
        <option value="100">100</option>
      </select>
    </div>
    <p class="my-auto">Total <span id="total-documents">{{total}}</span> data</p>
    <div class="d-flex align-items-center" style="column-gap: 5px;">
      <div class="btn rounded px-1" onclick="setPage('-1')">
        <img src="/static/icon/arrow-left.svg" alt="prevous" height="18px">
      </div>
      <div class="border border-2 rounded py-1 px-3" id="page-number">
        {{page}}
      </div>
      <div class="btn rounded px-1" onclick="setPage('1')">
        <img src="/static/icon/arrow-right.svg" alt="next" height="18px">
      </div>
    </div>
  </div>
</section>

{{!-- modal --}}
<div
  class="modal fade"
  id="manageAccount"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blockModalHead"></h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column" id="blockModalBody">
          
        </div>
      </div>
    </div>
  </div>
</div>

<script> 

function getUrl({ search = "", sort = "registerId", limit = 50, page = 1 }) {
  return `/office/teachers-data?search=${search}&sort=${sort}&limit=${limit}&page=${page}`;
}

let sortValue = "registerId,0"
let limitValue = 50;
let searchValue = ""
let pageValue = 1;
const total = parseInt(document.getElementById("total-documents").innerText)
let numberOfPages = Math.ceil(total / limitValue)

const searchField = document.getElementById("search");

function getData(url) {
  const tbody = document.getElementById("table-body");
  fetch(url)
    .then(res => res.json())
    .then(res => {
      tbody.innerHTML = "";
      res.data.allTeachers.forEach((ele) => {

        const row = document.createElement("tr");
        row.innerHTML =
          `
          <td scope="row">${ele.registerId}</td>
          <td>
            <div class="d-flex align-items-center">
              <img
                src="${ele.profile}"
                style="border-radius: 50%; border: 1px solid #3BB77E; padding: 1px"
                width="40px"
                height="40px"
                class="me-2"
                alt="${ele.name}"
              />
              <div>
                <span class="fs-6 text-black fw-normal">${ele.name}</span><br
                />
                <span
                  class="text-muted"
                  style="font-size: 13px;"
                >${ele.birth_date}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex">
              <a href="tel:${ele.phone}" class="me-1">
                <img src="/static/icon/phone.svg" width="34px" alt="call" />
              </a>
              <a href="mailto:${ele.email}">
                <img src="/static/icon/mail.svg" width="34px" alt="mail" />
              </a>
            </div>
          </td>
          <td>${ele.batch ? ele.batch : `-`}</td>
          <td>${ele.salary}</td>
          <td>${ele.qualification}</td>
          <td>${ele.experience}</td>
          <td>
            <a href="/office/teacher/${ele.registerId}">
              <img src="/static/icon/export.svg" width="20px" alt="" />
            </a>
          </td>
        `;
        tbody.appendChild(row);
      });
      document.getElementById("total-documents").innerText = res.data.total
      numberOfPages = Math.ceil(res.data.total / res.data.limit)
    });
}

</script>