<nav
  class="container-fluid py-4 px-3 d-flex justify-content-between align-items-center border-bottom bg-white sticky"
  style="max-width: 1500px;"
>
  <a href="/">
    <img src="/static/svg/logo.svg" alt="edWorld" height="35px" />
  </a>
  <div>
    <a href="/logout" class="ms-3">
      <img
        src="/static/icon/logout.svg"
        alt="logout"
        height="25px"
        style="transform: rotate(180deg);"
      />
    </a>
  </div>
</nav>

<main class="container-fluid px-3" style="max-width: 1500px;">
  <div class="d-flex flex-wrap justify-content-end">
    <div class="tab-bar mb-4 ms-2 mt-2">
      <a
        href="/teacher/classroom/{{student.batch}}"
        class="btn d-flex py-3 px-4 justify-content-center align-items-center rounded-3"
        style="background-color: #f1f1f1;"
      >
        <div
          class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
          style="cursor: pointer;"
        >
          <img src="/static/icon/home.svg" width="25px" alt="" />
          <span class="ms-2">{{student.batch}}</span>
        </div>
      </a>
    </div>
    <div class="tab-bar mb-4 ms-2 mt-2">
      <a
        href="/teacher"
        class="btn d-flex py-3 px-4 justify-content-center align-items-center rounded-3"
        style="background-color: #f1f1f1;"
      >
        <div
          class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
          style="cursor: pointer;"
        >
          <img src="/static/icon/home.svg" width="25px" alt="" />
          <span class="ms-2">Profile</span>
        </div>
      </a>
    </div>
  </div>

  <section class="mt-3">
    <section>
      <div class="">
        <div class="row gy-4">
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">
                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Attendance</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">{{studentStats.avg_attendance}}<span class="fs-6">%</span></p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{studentStats.avg_attendance}}%"
                    aria-valuenow="{{studentStats.avg_attendance}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">

                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Performance</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">{{studentStats.avg_performance}}<span class="fs-6">%</span></p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{studentStats.avg_performance}}%"
                    aria-valuenow="{{studentStats.avg_performance}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">
                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">class performance</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">{{studentStats.currentStand}}<span class="fs-6">%</span></p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{studentStats.currentStand}}%"
                    aria-valuenow="{{studentStats.currentStand}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">

                    <p class="text-sm text-uppercase text-muted lh-1 mb-0">Fee completion</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">{{studentStats.fee_completion}}<span class="fs-6">%</span></p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{studentStats.fee_completion}}%"
                    aria-valuenow="{{studentStats.fee_completion}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="d-flex flex-column flex-md-row justify-content-evenly mt-4 shadow py-2"
      style="font-size: 18px;"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center border-end border-1 my-5 px-4"
        style="min-width: 25%;"
      >
        <img
          src="{{student.profile}}"
          style="border-radius: 50%; border: 3px solid #3BB77E; padding: 1px"
          width="100px"
          height="100px"
          class="me-2"
          alt="{{student.name}}"
        />
        <span class="fw-bold mt-2 fs-4">{{student.name}}</span>
        <span
          class="text-muted fs-6"
          style="margin-top: -8px;"
          id="student-code"
        >ID: {{student.registerId}}</span>
        <div class="mt-2">
          <a href="tel:{{student.phone}}" class="me-1">
            <img src="/static/icon/phone.svg" width="34px" alt="call" />
          </a>
          <a href="mailto:{{student.email}}">
            <img src="/static/icon/mail.svg" width="34px" alt="mail" />
          </a>
          <a href="sms:{{student.phone}}?body=Hi {{student.name}}">
            <img src="/static/icon/message.svg" width="34px" alt="text" />
          </a>
        </div>
      </div>
      <div class="px-4 h-100">
        <div
          class="d-flex mt-2 mt-md-5 mb-4 flex-wrap"
          style="column-gap: 50px; row-gap: 20px;"
        >
          <div class="">
            <span class="fw-bold fs-6 mb-0">Batch</span><br />
            <span class="text-muted fs-6 mt-0">{{student.batch}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Phone</span><br />
            <span class="text-muted fs-6 mt-0">{{student.phone}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Email</span><br />
            <span class="text-muted fs-6 mt-0">{{student.email}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Date of birth</span><br />
            <span class="text-muted fs-6 mt-0">{{student.birth_date}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Gender</span><br />
            <span class="text-muted fs-6 mt-0">{{student.gender}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Parent</span><br />
            <span class="text-muted fs-6 mt-0">{{student.parent_name}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Parent Phone</span><br />
            <span class="text-muted fs-6 mt-0">{{student.parent_phone}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Education</span><br />
            <span
              class="text-muted fs-6 mt-0"
              id="experience"
            >{{student.education}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Institute</span><br />
            <span
              class="text-muted fs-6 mt-0"
              id="salary"
            >{{student.institute}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Address</span><br />
            <span class="text-muted fs-6 mt-0">
              {{student.address.house_name}}
              <br />
              {{student.address.place}},<br />
              {{student.address.post}},
              {{student.address.pin}},<br />
              {{student.address.district}},
              {{student.address.state}}, IN
            </span>
          </div>
        </div>
      </div>
    </div>

    {{#if student.monthly_data}}
      <section class="d-block d-sm-flex align-items-center mt-3 mb-3">
        <div class="working-days-head">
          <h6 class="mb-0 mt-auto my-sm-auto" style="font-size: larger;">
            Attendance
          </h6>
        </div>
        <div class="px-1 py-3 rounded working-days">
          <div class="d-flex flex-row-reverse">
            {{#each student.monthly_data}}
              {{#if (isAttendancePending this.attended) }}
                <div class="btn working-days-card p-2" style="white-space: nowrap;" data-mdb-toggle="modal" data-mdb-target="#addMonthlyData" onclick="monthlyData(`{{this.total}}`, `{{this.attended}}`, `{{this._id}}`, `{{@index}}`)">
                  <div class="working-days-card-text py-1 px-3 rounded" style="white-space: nowrap; border: 3px dashed #cdcdcd43; color: #2b2b2b43 !important;">
                    <img src="/static/icon/note-add.svg" style="margin-top: -5px;" alt="add">
                    Update Now
                  </div>
                </div>
              {{else}}
                <div class="btn working-days-card" style="white-space: nowrap;">
                  <div class="working-days-card-text" style="white-space: nowrap;">{{{ superfix @index true }}} Month :</div>
                  <div class="working-days-card-count">&nbsp;{{this.attended}}<span class="fs-6">%</span></div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </section>

      <section class="d-block d-sm-flex align-items-center mt-3 mb-3">
        <div class="working-days-head">
          <h6 class="mb-0 mt-auto my-sm-auto" style="font-size: larger;">
            Performance
          </h6>
        </div>
        <div class="px-1 py-3 rounded working-days">
          <div class="d-flex flex-row-reverse">
            {{#each student.monthly_data}}
              <div class="btn working-days-card" style="white-space: nowrap;">
                <div class="working-days-card-text" style="white-space: nowrap;">{{{ superfix @index true }}} Month :</div>
                <div class="working-days-card-count">&nbsp;{{this.performance}}<span class="fs-6">%</span></div>
              </div>
            {{/each}}
          </div>
        </div>
      </section>
    {{/if}}

  </section>
</main>

{{! edit data modal }}
<div
  class="modal fade"
  id="addMonthlyData"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-0">
        <form action="" id="monthlyDataForm">

          <div class="form-outline input-group input-group-lg">
            <input
              type="number"
              id="attendance"
              name="attendance"
              class="form-control"
              required
              min="0"
            />
            <label class="form-label" for="attendance">Attendance</label>
            <span class="input-group-text border-0" id="basic-addon2"></span>
          </div>
          <input type="hidden" name="id" id="month-id" value="">
          <input type="hidden" name="registerId" id="registerId" value="{{student.registerId}}">
          <input type="hidden" name="total" id="total-days" value="">

          <h6 class="mt-3">Performance</h6>
          <div id="subject-performance">
            {{#each subjects}}
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text prefix">{{this.subject}}</span>
                <input
                  type="number"
                  class="form-control"
                  name="{{this.subject}}"
                  required
                  min="0"
                  max="100"
                />
                <span class="input-group-text">%</span>
              </div>
            {{/each}}
          </div>

          <p id="monthlyDataForm-response"></p>
          <div class="mt-3 d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-outline-success"
            >Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById("monthlyDataForm")
  const response = document.getElementById("monthlyDataForm-response")
  const perfo = document.getElementById("subject-performance")
  const formSubmit = (e) => {
    e.preventDefault()
    const formData = new FormData(form);
    const data = Object.fromEntries(formData);
    const subject_performance = [];
    [...perfo.children].map((ele) => {
      subject_performance.push({
        subject: ele.getElementsByClassName("prefix")[0].innerText,
        score: ele.getElementsByTagName("input")[0].value
      })
    })
    const {attendance, registerId, id, total} = data
    const dataToSend = {
      attendance,
      registerId,
      id,
      total,
      subject_performance
    }

    fetch("/teacher/add-monthly-data", {
      method: "PUT",
      body: JSON.stringify(dataToSend),
      headers: {
        "Content-Type": "application/json",
      },
    })
    .then((res) => res.json())
    .then((res) => {
      if(res.success) location.reload()
      else {
        response.classList.add("text-danger");
        response.classList.remove("text-success");
        response.innerText = res.message;
      }
    })
    .catch((err) => {
      response.classList.add("text-danger");
      response.classList.remove("text-success");
      response.innerText = "Somthing went wrong";
    })
  }

  form.addEventListener("submit", formSubmit)
</script>