{{> office/batches}}

<section class="mt-5">
  <h4 class="mb-4">All Batches</h4>
  <div class="form-outline mb-4">
    <input type="text" class="form-control" id="datatable-search-input" />
    <label class="form-label" for="datatable-search-input">Search</label>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" id="batches-table">
      <thead class="bg-dark text-white">
        <tr class="bg-dark">
          <th class="th-sm">Batch</th>
          <th class="th-sm">Batch Head</th>
          <th class="th-sm">Seats</th>
          <th class="th-sm">Students</th>
          <th class="th-sm">Start Date</th>
          <th class="th-sm">End Date</th>
          <th class="th-sm">Duration</th>
          <th class="th-sm">Fee</th>
          <th class="th-sm">View</th>
        </tr>
      </thead>
      <tbody>
        {{#each allBatches}}
          <tr>
            <td>{{this.code}}</td>
            <td>{{this.head}}</td>
            <td>{{this.seat_num}}</td>
            <td>{{this.students}}</td>
            <td>{{this.start_date}}</td>
            <td>{{this.end_date}}</td>
            <td>{{this.duration}}</td>
            <td>{{this.fee}}</td>
            <td>
              <a href="/office/batch/{{this.code}}">
                <img src="/static/icon/export.svg" width="20px" alt="" />
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>