<nav
  class="container-fluid py-4 px-3 d-flex justify-content-between align-items-center border-bottom bg-white sticky"
  style="max-width: 1500px;"
>
  <a href="/">
    <img src="/static/svg/logo.svg" alt="edWorld" height="35px" />
  </a>
  <div>
    <a data-mdb-toggle="modal" data-mdb-target="#editDetails">
      <img src="/static/icon/setting.svg" alt="logout" height="25px" />
    </a>
    <a href="/logout" class="ms-3">
      <img
        src="/static/icon/logout.svg"
        alt="logout"
        height="25px"
        style="transform: rotate(180deg);"
      />
    </a>
  </div>
</nav>

<main class="container-fluid px-3" style="max-width: 1500px;">

  <section class="mt-4">
    <div
      class="d-flex flex-column flex-md-row justify-content-evenly mb-4 shadow py-2"
      style="font-size: 18px;"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center border-end border-1 my-5 px-4"
        style="min-width: 25%;"
      >
        <img
          src="{{student.profile}}"
          style="border-radius: 50%; border: 3px solid #3BB77E; padding: 1px"
          width="100px"
          height="100px"
          class="me-2"
          alt="{{student.name}}"
        />
        <span class="fw-bold mt-2 fs-4" id="student-name">{{student.name}}</span>
        <span
          class="text-muted fs-6"
          style="margin-top: -8px;"
          id="student-code"
        >ID: {{student.registerId}}</span>
      </div>
      <div class="px-4 h-100">
        <div
          class="d-flex mt-3 mt-md-5 mb-4 flex-wrap"
          style="column-gap: 50px; row-gap: 20px;"
        >
          <div class="">
            <span class="fw-bold fs-6 mb-0">Batch</span><br />
            {{#if student.batch}}
              <span class="text-muted fs-6 mt-0">{{student.batch}}</span>
            {{else}}
              <span class="text-muted fs-6 mt-0">-</span>
            {{/if}}

          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Phone</span><br />
            <span
              class="text-muted fs-6 mt-0"
              id="student-phone"
            >{{student.phone}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Email</span><br />
            <span
              class="text-muted fs-6 mt-0"
              id="student-email"
            >{{student.email}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Date of birth</span><br />
            <span class="text-muted fs-6 mt-0">{{student.birth_date}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Gender</span><br />
            <span class="text-muted fs-6 mt-0">{{student.gender}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Parent</span><br />
            <span class="text-muted fs-6 mt-0">{{student.parent_name}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Parent Phone</span><br />
            <span class="text-muted fs-6 mt-0" id="student-parent-phone">{{student.parent_phone}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Education</span><br />
            <span class="text-muted fs-6 mt-0">{{student.education}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Institute</span><br />
            <span class="text-muted fs-6 mt-0">{{student.institute}}</span>
          </div>
          <div class="">
            <span class="fw-bold fs-6 mb-0">Address</span><br />
            <span class="text-muted fs-6 mt-0" id="student-address">
              {{student.address.house_name}}
              <br />
              {{student.address.place}},<br />
              {{student.address.post}},
              {{student.address.pin}},<br />
              {{student.address.district}},
              {{student.address.state}}, IN
            </span>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="">
        <div class="row gy-4">
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">
                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Attendance</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">{{studentStats.avg_attendance}}<span class="fs-6">%</span></p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{studentStats.avg_attendance}}%"
                    aria-valuenow="{{studentStats.avg_attendance}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">

                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Performance</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">{{studentStats.avg_performance}}<span class="fs-6">%</span></p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{studentStats.avg_performance}}%"
                    aria-valuenow="{{studentStats.avg_performance}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">
                    <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">class performance</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">{{studentStats.currentStand}}<span class="fs-6">%</span></p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{studentStats.currentStand}}%"
                    aria-valuenow="{{studentStats.currentStand}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card shadow mb-0">
              <div class="card-body">
                <div class="d-flex align-items-end justify-content-between mb-2">
                  <div class="me-2">

                    <p class="text-sm text-uppercase text-muted lh-1 mb-0">All
                      Projects</p>
                  </div>
                  <p class="fs-2 lh-1 mb-0 text-success">41</p>
                </div>
                <div class="progress" style="height: 3px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 35%"
                    aria-valuenow="35"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="d-flex flex-wrap justify-content-end">
      <div class="tab-bar mb-4 ms-2 mt-4">
        <a
          data-mdb-toggle="modal" data-mdb-target="#payoutModal"
          class="btn d-flex py-3 px-4 justify-content-center align-items-center rounded-3"
          style="background-color: #D2FFEA; color: #369d6d;"
          onclick="fetchInvoice(0)"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
            style="cursor: pointer;"
          >
            <img src="/static/icon/empty-wallet.svg" width="25px" alt="" />
            <span class="ms-2">Complete fee payment</span>
          </div>
        </a>
      </div>
    </div>

    {{#if student.monthly_data}}
      <section class="d-block d-sm-flex align-items-center mt-3 mb-3">
        <div class="working-days-head">
          <h6 class="mb-0 mt-auto my-sm-auto" style="font-size: larger;">
            Attendance
          </h6>
        </div>
        <div class="px-1 py-3 rounded working-days">
          <div class="d-flex flex-row-reverse">
          {{#each student.monthly_data}}
            {{#if (isAttendancePending this.attended) }}
              <div class="btn working-days-card" style="white-space: nowrap;">
                <div class="working-days-card-text" style="white-space: nowrap;">Will update soon</div>
              </div>
            {{else}}
              <div class="btn working-days-card" style="white-space: nowrap;">
                <div class="working-days-card-text" style="white-space: nowrap;">{{{ superfix @index true }}} Month :</div>
                <div class="working-days-card-count">&nbsp;{{this.attended}}</div>
              </div>
            {{/if}}
          {{/each}}
          </div>
        </div>
      </section>

      <section class="d-block d-sm-flex align-items-center mt-3 mb-3">
        <div class="working-days-head">
          <h6 class="mb-0 mt-auto my-sm-auto" style="font-size: larger;">
            Performance
          </h6>
        </div>
        <div class="px-1 py-3 rounded working-days">
          <div class="d-flex flex-row-reverse">
          {{#each student.monthly_data}}
            {{#if (isAttendancePending this.attended) }}
              <div class="btn working-days-card">
                <div class="working-days-card-text">Will update soon</div>
              </div>
            {{else}}
              <div class="btn working-days-card" style="white-space: nowrap;">
                <div class="working-days-card-text" style="white-space: nowrap;">{{{ superfix @index true }}} Month :</div>
                <div class="working-days-card-count">&nbsp;{{this.performance}}</div>
              </div>
            {{/if}}
          {{/each}}
          </div>
        </div>
      </section>
    {{/if}}
    
  </section>
</main>

{{! edit data modal }}
<div
  class="modal fade"
  id="payoutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header pb-0 pt-4">
        <h5
          class="fw-normal fs-4 "
          style="letter-spacing: 1px;"
        >Fee Payment</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-4" id="payout-body" style="min-height: 200px;">
        
      </div>
    </div>
  </div>
</div>

{{! edit data modal }}
<div
  class="modal fade"
  id="editDetails"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <ul class="nav nav-tabs m-0" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="ex1-tab-1"
              data-mdb-toggle="tab"
              href="#ex1-tabs-1"
              role="tab"
              aria-controls="ex1-tabs-1"
              aria-selected="true"
            >Basic Details</a>
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-2"
              data-mdb-toggle="tab"
              href="#ex1-tabs-2"
              role="tab"
              aria-controls="ex1-tabs-2"
              aria-selected="false"
            >Password</a>
          </li>
        </ul>

        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-0">
        <div class="tab-content" id="ex1-content">
          <div
            class="tab-pane fade show active"
            id="ex1-tabs-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1"
          >
            {{! basic details form }}
            <form action="" id="eidtDetailsForm">
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="phone"
                  name="phone"
                  class="form-control"
                  value="{{student.phone}}"
                  required
                  oninput="validatePhone(this)"
                />
                <label class="form-label" for="phone">Phone</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  value="{{student.email}}"
                  required
                  oninput="validateEmail(this)"
                />
                <label class="form-label" for="email">Email</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="parent_phone"
                  name="parent_phone"
                  class="form-control"
                  value="{{student.parent_phone}}"
                  required
                  oninput="validatePhone(this)"
                />
                <label class="form-label" for="parent_phone">Parent Phone</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="house_name"
                  name="house_name"
                  class="form-control"
                  value="{{student.address.house_name}}"
                />
                <label class="form-label" for="house_name">House Name</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="place"
                  name="place"
                  class="form-control"
                  value="{{student.address.place}}"
                  required
                />
                <label class="form-label" for="place">Place</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="post"
                  name="post"
                  class="form-control"
                  value="{{student.address.post}}"
                  required
                />
                <label class="form-label" for="post">Post</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="pin"
                  name="pin"
                  class="form-control"
                  value="{{student.address.pin}}"
                  required
                  oninput="validatePinCode(this)"
                />
                <label class="form-label" for="pin">Pin Code</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="district"
                  name="district"
                  class="form-control"
                  value="{{student.address.district}}"
                  required
                />
                <label class="form-label" for="district">District</label>
              </div>
              <div class="form-outline mb-3 input-group-lg">
                <input
                  type="text"
                  id="state"
                  name="state"
                  class="form-control"
                  value="{{student.address.state}}"
                  required
                />
                <label class="form-label" for="state">State</label>
              </div>

              <p id="response-details"></p>
              <div class="mt-3 d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-outline-success"
                >Update</button>
              </div>
            </form>

          </div>
          <div
            class="tab-pane fade"
            id="ex1-tabs-2"
            role="tabpanel"
            aria-labelledby="ex1-tab-2"
          >
            <form action="" id="changePassowrdForm">
              <h5
                class="fw-normal fs-4 mb-3 pb-3"
                style="letter-spacing: 1px;"
              >Change your password</h5>

              <div class="form-outline mb-3">
                <input
                  type="password"
                  id="currentPassword"
                  name="currentPassword"
                  class="form-control form-control-lg"
                  required
                />
                <label class="form-label" for="currentPassword">Current Password</label>
              </div>
              <div class="form-outline mb-3">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control form-control-lg"
                  required
                  oninput="validatePassword(this)"
                />
                <label class="form-label" for="password">New Password</label>
              </div>
              <div class="form-outline mb-3">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  class="form-control form-control-lg"
                  required
                  oninput="checkConfirmPass(this)"
                />
                <label class="form-label" for="confirmPassword">Confirm Password</label>
              </div>

              <p id="response-pass"></p>

              <div class="mt-3 d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-outline-success"
                >Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- razorpay api --}}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>  
// Edit details
const detailsForm = document.getElementById("eidtDetailsForm");
const passwordForm = document.getElementById("changePassowrdForm");

const detailsRes = document.getElementById("response-details");
const passwordRes = document.getElementById("response-pass");

const phone = document.getElementById("student-phone");
const email = document.getElementById("student-email");
const parentPhone = document.getElementById("student-parent-phone");
const address = document.getElementById("student-address");

function detailsFormSubmit(e) {
  e.preventDefault();
  const formData = new FormData(detailsForm);
  const dataToSend = Object.fromEntries(formData);

  fetch(`/student/edit-basic-details`, {
    method: "PUT",
    body: JSON.stringify(dataToSend),
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((response) => response.json())
    .then((response) => {
      if (response.success) {
        detailsRes.classList.add("text-success");
        detailsRes.classList.remove("text-danger");
        phone.innerText = dataToSend.phone
        email.innerText = dataToSend.email
        parentPhone.innerText = dataToSend.parent_phone
        address.innerHTML = `${dataToSend.house_name} <br> ${dataToSend.place},<br>
                ${dataToSend.post}, ${dataToSend.pin},<br>
                ${dataToSend.district}, ${dataToSend.state}, IN`
        
      } else {
        detailsRes.classList.add("text-danger");
        detailsRes.classList.remove("text-success");
      }
      detailsRes.innerText = response.message;
    })
    .catch((error) => {
      detailsRes.classList.add("text-danger");
      detailsRes.classList.remove("text-success");
      detailsRes.innerText = "Somthing went wrong";
    });
}

function passwordFormSubmit(e) {
  e.preventDefault();
  const formData = new FormData(passwordForm);
  const dataToSend = Object.fromEntries(formData);

  fetch(`/student/change-password`, {
    method: "PUT",
    body: JSON.stringify(dataToSend),
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((response) => response.json())
    .then((response) => {
      if (response.success) {
        passwordRes.classList.add("text-success");
        passwordRes.classList.remove("text-danger");
        
      } else {
        passwordRes.classList.add("text-danger");
        passwordRes.classList.remove("text-success");
      }
      passwordRes.innerText = response.message;
    })
    .catch((error) => {
      passwordRes.classList.add("text-danger");
      passwordRes.classList.remove("text-success");
      passwordRes.innerText = "Somthing went wrong";
    });
}

detailsForm.addEventListener("submit", detailsFormSubmit);
passwordForm.addEventListener("submit", passwordFormSubmit);
</script>