<div class="d-flex flex-wrap justify-content-end">
  {{> office/students}}
</div>

<section class="mt-3">
  <h4 class="mb-4">All Students</h4>
  <div class="table-responsive">
    <table class="table table-striped align-middle" id="batches-table">
      <thead class="bg-dark text-white">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Contact</th>
          <th scope="col">Batch</th>
          <th scope="col">Parent</th>
          <th scope="col">Education</th>
          <th scope="col">University</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        {{#each allStudents}}
          <tr>
            <td scope="row">{{this.registerId}}</td>
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="{{this.profile}}"
                  style="border-radius: 50%; border: 1px solid #3BB77E; padding: 1px"
                  width="40px"
                  height="40px"
                  class="me-2"
                  alt="{{this.name}}"
                />
                <div>
                  <span class="fs-6 text-black fw-normal">{{this.name}}</span><br
                  />
                  <span
                    class="text-muted"
                    style="font-size: 13px;"
                  >{{this.birth_date}}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <a href="tel:{{this.phone}}" class="me-1">
                  <img src="/static/icon/phone.svg" width="34px" alt="call" />
                </a>
                <a href="mailto:{{this.email}}">
                  <img src="/static/icon/mail.svg" width="34px" alt="mail" />
                </a>
              </div>
            </td>
            <td>{{this.batch}}</td>
            <td>{{this.parent_name}}</td>
            <td>{{this.education}}</td>
            <td>{{this.university}}</td>
            <td>
              <a href="/office/student/{{this.registerId}}">
                <img src="/static/icon/export.svg" width="20px" alt="" />
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>