<main>
  <h4>Welcome!</h4>
  <section class="my-4">
    <div class="">
      <div class="row gy-4">
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">
                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Batches</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{batchCount}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">

                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Teachers</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{teacherCount}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">

                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Students</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{studentCount}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">

                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Active Batches</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{activeBatchCount}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="w-100 shadow p-3 rounded-3">
      <h6>Last payment</h6>
      <div>
        <div class="" style="overflow-x: auto;">
          <div class="d-flex justify-content-between flex-nowrap" style="white-space: nowrap;">
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Order id</span>
              <span class="text-dark" >{{lastPayment.ref_id}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Invoice</span>
              <span class="text-dark" >{{lastPayment.invoice}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Receipt</span>
              <span class="text-dark" >{{#if lastPayment.receipt}}{{lastPayment.receipt}}{{else}}-{{/if}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Amount</span>
              <span class="text-dark" >{{lastPayment.amount}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Id</span>
              <span class="text-dark" >{{lastPayment.registerId}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Name</span>
              <span class="text-dark" >{{lastPayment.name}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Type</span>
              <span class="text-dark" >{{lastPayment.payment_type}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Date</span>
              <span class="text-dark" >{{lastPayment.date}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>