<main>
  <h4>Welcome!</h4>
  <section class="my-4">
    <div class="">
      <div class="row gy-4">
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">
                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Batches</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{batchCount}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">

                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Teachers</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{teacherCount}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">

                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Students</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{studentCount}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card shadow mb-0">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between">
                <div class="me-2">

                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Active Batches</p>
                </div>
                <p class="fs-2 lh-1 mb-0 text-success">{{activeBatchCount}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="w-100 shadow p-3 rounded-3">
      <h6>Last payment</h6>
      <div>
        <div class="" style="overflow-x: auto;">
          <div class="d-flex justify-content-between flex-nowrap" style="white-space: nowrap;">
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Order id</span>
              <span class="text-dark" >{{lastPayment.ref_id}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Invoice</span>
              <span class="text-dark" >{{lastPayment.invoice}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Receipt</span>
              <span class="text-dark" >{{#if lastPayment.receipt}}{{lastPayment.receipt}}{{else}}-{{/if}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Amount</span>
              <span class="text-dark" >{{lastPayment.amount}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Id</span>
              <span class="text-dark" >{{lastPayment.registerId}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Name</span>
              <span class="text-dark" >{{lastPayment.name}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Type</span>
              <span class="text-dark" >{{lastPayment.payment_type}}</span>
            </div>
            <div class="mx-2 d-flex flex-column" style="row-gap: 5px;">
              <span class="text-muted" >Date</span>
              <span class="text-dark" >{{lastPayment.date}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="row" style="gap: 10px;">
      <div class="col-12 col-sm-4 card py-2 px-3 d-felx flex-column" >
        <h5 class="mb-4 justify-slef-start">Payments</h5>
        <canvas id="payment-pie"></canvas>
      </div>
      <div class="col card py-2 px-3 d-felx flex-column">
        <h5 class="mb-4 justify-slef-start">Last months Performance & Attendance</h5>
        <canvas id="batch-performance"></canvas>
      </div>
    </div>
    <div class="row mt-5" style="gap: 10px;">
      <div class="col card py-2 px-3 d-felx flex-column">
        <h5 class="mb-4 justify-slef-start">Batches Seats & Students count</h5>
        <canvas id="batch-stats"></canvas>
      </div>
      <div class="col-12 col-sm-4 card py-2 px-3 d-felx flex-column" >
        <h5 class="mb-4 justify-slef-start">Quick Actions</h5>
        <div class="card shadow mb-0 my-2">
          <a href="/office/batches/add-batch" class="card-body text-black" style="cursor: pointer;">
            <div class="">
              <div class="me-2 d-flex justify-content-between align-items-center">
                <p class="text-sm text-uppercase text-gray-600 mb-0">Host new Batch</p>
                <img src="/static/icon/arrow-right.svg" alt="add">
              </div>
            </div>
          </a>
        </div>
        <div class="card shadow mb-0 my-2">
          <a href="/office/teachers/add-teacher" class="card-body text-black" style="cursor: pointer;">
            <div class="">
              <div class="me-2 d-flex justify-content-between align-items-center">
                <p class="text-sm text-uppercase text-gray-600 mb-0">Add teacher</p>
                <img src="/static/icon/arrow-right.svg" alt="add">
              </div>
            </div>
          </a>
        </div>
        <div class="card shadow mb-0 my-2">
          <a href="/office/students/add-student" class="card-body text-black" style="cursor: pointer;">
            <div class="">
              <div class="me-2 d-flex justify-content-between align-items-center">
                <p class="text-sm text-uppercase text-gray-600 mb-0">Add Student </p>
                <img src="/static/icon/arrow-right.svg" alt="add">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    async function fetchData() {
      const data = await fetch("/office/dashboard-data")
      const chartData = await data.json()
      if(!chartData || !chartData.success) {
        console.log("hi")
      }else {
        const ctx = document.getElementById('payment-pie').getContext('2d');
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ["Success", "Failed/Aborted"],
            datasets: [{
                data: [chartData.paymentStats.success, chartData.paymentStats.failed],
                backgroundColor: ["#3bb77e", "#D2FFEA", ]
            }]
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: "top",
              },
            }
          }
        });

        const batchStats = document.getElementById('batch-stats').getContext('2d');
        let labelsTwo = [], dataOneTwo = [], dataTwoTwo = []
        chartData.batchStats.forEach(ele => {
          labelsTwo.push(ele.code)
          dataOneTwo.push(ele.seat_num)
          dataTwoTwo.push(ele.students_num)
        })
        new Chart(batchStats, {
          type: 'bar',
          data: {
            labels: labelsTwo,
            datasets: [
              {
                label: "Seats",
                data: dataOneTwo,
                backgroundColor: "#3bb77e"
              },
              {
                label: "Students",
                data: dataTwoTwo,
                backgroundColor: "#D2FFEA"
              }
            ]
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: "bottom",
              }
            }
          },
        });

        console.log(chartData.studentStats)


        const batchPerf = document.getElementById('batch-performance').getContext('2d');
        let labelsThree = [], dataOneThree = [], dataTwoThree = []
        chartData.studentStats.forEach(ele => {
          labelsThree.push(ele.code)
          dataOneThree.push(ele.avg_performance)
          dataTwoThree.push(ele.avg_attendance)
        })
        new Chart(batchPerf, {
          type: 'line',
          data: {
            labels: labelsThree,
            datasets: [
              {
                label: "Performance",
                data: dataOneThree,
                backgroundColor: "#3bb77e",
                borderColor: "#3bb77e",
              },
              {
                label: "Attendance",
                data: dataTwoThree,
                backgroundColor: "#2943d5",
                borderColor: "#2943d5"
              }
            ]
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: "bottom",
              }
            }
          },
        });
      }
    }

    fetchData()
</script>